<h2>Books</h2>
<form [formGroup]="bookForm" (ngSubmit)="handleFormSubmit($event.submitter.id)">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookList">
                <td>{{ book.Id }}</td>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.Title }}</td>
                <td>{{ book.Author }}</td>
                <td>{{ book.Price }}</td>
                <td>
                    <button type="button" (click)="handleDeleteBook(book.Id)">Delete</button>
                    <button type="button" (click)="handleEditBook(book.Id)" disabled>Patch</button>
                </td>
            </tr>
            <tr>

                <td><input type="number" formControlName="Id"></td>
                <td><input type="text" formControlName="ISBN"></td>
                <td><input type="text" formControlName="Title"></td>
                <td><input type="text" formControlName="Author"></td>
                <td><input type="number" formControlName="Price"></td>
                <td>
                    <button type="submit" id="postBtn">Post</button>
                    <button type="submit" id="putBtn">Put</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<hr>